{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		
		<!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->	
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static 'css/Navbar_Template-1_style.css' %}"/>	
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">	

		<!-- Add Icon to Page Title -->
		<link rel="icon" type="image/icon type" href="{% static 'images/outline_lightbulb_black_24dp.png' %}">
		
		<!-- Add Current URL Name to page Title -->
		<title>MyApp {{ request.resolver_match.url_name }} </title>
	</head>
	<body>
		<header class="header">
			Aashutosh
		</header>
		<div class="nav-items ">
			<a href="{% url 'index' %}">Home</a>
			<a href="#">Portfolio</a>
			<a href="#">Resume</a>
			<a href="{% url 'blog-home' %}">Blog</a>

			<!-- {% if user.is_authenticated %}
				<div class="custom-dropdown">
					<a href="#"> Create</a>
						<div class="dropdown-content">
							<a href="{% url 'post-create' %}"> Create Blog</a>
							<a href="#">Create Page</a>
							<a href="#">Announcement</a>
						</div>				
				</div>
			{% endif %} -->

			<!-- Display User profile Options when Logged In -->
			{% if user.is_authenticated %}
				<div class="nav-items-right">
					<a href="#">
						<span>
							<img class="rounded-circle avatar" src="{{ user.profile.image.url }}" width=37px height=37px>
						</span>
						<span>
							{{request.user}}
						</span>
					</a>
						<div class="dropdown-content">
							<a href="{% url 'profile' %}">Profile</a>
							<a href="#">Settings</a>
							{% if user.is_staff %}
								<a href="{% url 'admin:index' %}">Admin</a>
							{% endif %}
							<a href="{% url 'logout' %}">Logout</a>
						</div>				
				</div>
			{% else %}
				<div class="nav-items-right">
					<a href="{% url 'login' %}">Login</a>						
				</div>
		{% endif %}
		</div>


		<!-- Display Messages in Navbar Template -->
		<div class="row" style="width:100%">
	        <div class="col-md-8">
	        	{% if messages %}
		        	{% for message in messages %}
		            	<div class="alert alert-{{ message.tags }}">
		            		{{ message }}
		            	</div>
		            {% endfor %}
	         	{% endif %}
	        </div>
	        
	    </div>


		{% block content %} {% endblock %}
		

		<!-- Optional JavaScript -->
	    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>